<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Map showing areas in Scotland steeper than 27.5 degrees">
    <meta name="author" content="Andrew Kesterton">
    <meta property="og:title" content="Scottish Slope Map" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://maps.kesterton.org.uk/slope/index.html" />
    <meta property="og:image" content="http://maps.kesterton.org.uk/slope/images/walk-in-thumb.jpg" />
    <meta property="og:description" content="Map showing areas in Scotland steeper than 27.5 degrees" />
    <title>Scottish Slope Map</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript" src="http://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=80AEA98A9E0141B7E0405F0ACA605856"></script>  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

<!-- Angular -->
<script type="text/javascript">

var ngApp =     angular.module("openspace", []);
    
ngApp.controller('mapController',function($scope, mapRegistry){
    var that = this;
    var osMap;
    
    
    // Create new map
    
    osMap = new OpenSpace.Map('os-map', {resolutions:[2500, 1000,500, 200, 100, 50, 25, 10]});
    mapRegistry.setMap(osMap);
    // Set map centre in National Grid Eastings and Northings and select zoom level 3

    osMap.setCenter(new OpenSpace.MapPoint($scope.easting, $scope.northing), 3);
    
    
        this.replaceMarker = function(){
        // Delete any markers from layer            
            console.log("replace marker");
       markersLayer.clearMarkers();
    // Create a variable to hold a map position    
    var pos = new OpenSpace.MapPoint(parseFloat($scope.easting), parseFloat($scope.northing));
    osMap.setCenter(pos,7);
            osMap.updateSize();
    // Add a marker with that position     
    var marker = new OpenLayers.Marker(pos);
    markersLayer.addMarker(marker);    
    };
    this.addLayer= function(newLayer){
        // Add below markers layer
     osMap.addLayer(newLayer);
     osMap.raiseLayer(osMap.getMarkerLayer(), 1);
    };
    setTimeout( function() { osMap.updateSize();}, 200);  
  
    this.getMap = function(){
     return osMap;   
    }
    
    
});
ngApp.directive('osMap', function(){
     return {
        restrict:'EA',
        replace: true,
         controller:'mapController',
         transclude:true,
        //controllerAs:'mapCtrl',
        scope:{
          easting: '=',
          northing: '='            
        },
        template: '<div id="os-map" ><ng-transclude></ng-transclude></div>'        
    }    
}); 
    
    ngApp.factory('gazetteerSearch',['$q',function($q){
    var gazetteer = new OpenSpace.Gazetteer();
    
    var service = {
        findPlaces: function(placename){
            var d = $q.defer()
            gazetteer.getLocations(placename, d.resolve);
            return d.promise;
        }            
    };
    return service;
}]);
    
    ngApp.factory('mapRegistry',['$q',function($q){
        // For now this registry will store one map object.  
        // Could be extended as in esri.core to store multiple map instances.
        var theMap;
        
        var service = {
         getMap: function(){
            return theMap; 
         },
         setMap:function(mapObject){
                theMap = mapObject;
            }                        
        }
        return service;
    }]);
    

ngApp.controller('gazetteerController', function($scope,gazetteerSearch, mapRegistry){    
  var that = this;
  this.places = [];
  this.searchGaz = function(){
      console.log("Search Gaz Method");
      gazetteerSearch.findPlaces(this.searchValue).then(function(places){
      that.parseResults(places); 
      });
      
    this.parseResults= function(places) {
        if (places.length > 0)
        {
            console.log(places);
            this.places = places;            
            this.hasResult = true;
        }
    };
      
      this.formSubmit = function(){
          if (!this.hasResult){
        // If no results - do search.
          this.searchGaz();
          }
          else{
              // Reset.
           this.searchValue = "";
           this.hasResult = false;   
           mapRegistry.getMap().clearMarkers();
          }
      };
      
    this.placeSelected = function(place){
        console.log("Zoom map to :"+ this.selectedPlace.location.lat + ","+ this.selectedPlace.location.lon);
        var _map = mapRegistry.getMap()
        var markersLayer = 
        _map.getMarkerLayer();
        markersLayer.clearMarkers();
    // Create a variable to hold a map position            
            var _pos = new OpenSpace.MapPoint(parseFloat(this.selectedPlace.location.lon), parseFloat(this.selectedPlace.location.lat));

    // Add a marker with that position     
    var marker = new OpenLayers.Marker(_pos);
    markersLayer.addMarker(marker);     
    _map.setCenter(_pos,7);
        
    }
      // Todo - interact with the map. Change from using root scope to mapregistry service. 
    
  };
    
    
    
})
    
ngApp.directive('osGazetteer', function(gazetteerSearch){
    return{
        restrict:'EA',
        replace:true,
        scope: {
            easting:'=',
            northing:'='            
        },
        controller:'gazetteerController',
        controllerAs:'gazCtrl',
        template:'<form class="navbar-form navbar-right search" ng-submit="gazCtrl.formSubmit()"><span ng-hide="gazCtrl.hasResult"><input type="search" class="form-control" ng-model="gazCtrl.searchValue" placeholder="Search for a place.." /><button class="btn btn-default" ng-click="gazCtrl.searchGaz()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search</button></span><span ng-show="gazCtrl.hasResult"><select  ng-change="gazCtrl.placeSelected()" ng-model="gazCtrl.selectedPlace" ng-options="place.name group by place.type for place in gazCtrl.places" class="form-control" ><option disabled>Select a place..</place></select><button class="btn btn-default" ng-click="gazCtrl.formSubmit()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;Clear</button></span></form>'        
    }
    
    
});    
ngApp.controller('osEsriCacheLayerController', function($scope){
    var mapLayerUrl = $scope.url;
    var opacity = parseFloat($scope.opacity)||1; 
    
    // As cache layer need mapobject to get map resolutions.
    this.getLayer = function(map){
        console.log("Controller " + map)
         var tileSize = new OpenLayers.Size(256,256);
         var agsTileOrigin = new OpenLayers.LonLat(0,1300000); //TODO Can I get this from openlayers map?
        
       return new OpenLayers.Layer.ArcGISCache('Slope', mapLayerUrl, {
                    tileOrigin: agsTileOrigin,
                    resolutions: map.resolutions, 
                    sphericalMercator: false,
                    maxExtent: map.maxExtent,
                    useArcGISServer: false,
                    isBaseLayer: false,
                    tileSize:tileSize,
                    projection: map.projection,
                    opacity:opacity
                }); 
        
    }
    
});

    
ngApp.directive('osEsriCacheLayer', function(){
 // like in https://github.com/Esri/angular-esri-map/blob/v1.1.0/src/layers/esriFeatureLayer.js 
    return{
     restrict:'EA',
        replace:true,
        // Require directive, including parent osmap directive which will 
        // inject it's controller for access to the map.
        require:['osEsriCacheLayer','^osMap'],
        scope:{
          url:'@',
          opacity:'@?'
        },
        controller:'osEsriCacheLayerController',
       // controllerAs:'cacheController',
        link:function(scope, element, attrs, controllers){
            // controllers is now an array of the controllers from the 'require' option
            var layerController = controllers[0];
            var mapController = controllers[1];
            
            // Get layer object and add to map. 
           mapController.addLayer(layerController.getLayer(mapController.getMap()));            
        }
        
        
    }
    
    
    
});
    
    </script>          
      
      
      
      
<style>

</style>
    </head>

  <body ng-app="openspace">

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Scotland Slope Map</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        <li><a href="about.html">About</a></li>
        <!--    <li><a href="#contact">Contact</a></li> -->
          </ul>
             <os-gazetteer easting="mapLocation.xcoord" northing="mapLocation.ycoord"></os-gazetteer>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">   
        <div class="map-container clearfix" ng-init="mapLocation.xcoord=272150;mapLocation.ycoord=781000;">
            <div os-map easting="mapLocation.xcoord" northing="mapLocation.ycoord">
               <div os-esri-cache-layer url="https://kes-maps.azurewebsites.net/slope/slope_dpi/_alllayers" opacity="0.6"></div> 
            </div>
            
        <div class="panel panel-default legend-panel">
            <div class="panel-heading">Steepness</div>
        <div class="panel-body"><sub>30&deg;&nbsp;</sub><img src="images/legend-l.png" class="img-rounded" style="margin-right:2px;" alt="Legend showing shades of purple for slope on the map, from light purple at 30 degrees, to dark purple at 63 degrees"><sub>65&deg;&nbsp; Slope</sub></div>
                    </div>
        </div>
    </div>
    <footer class="footer">
      <div class="container">
          <p class="text-muted"><small>Climbing and mountaineering are activities with a danger of personal injury or death. Participants in these activities should be aware of and accept these risks and be responsible for their own actions and involvement.</small></p>
</div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script type="application/javascript">  
      
          function fixMapHeight(){
    var viewHeight = $(window).height();
    var header = $("div[data-role='header']:visible:visible");
    var navbar = $(".navbar");
    var footer = $("footer");
    var content = $("#os-map:visible:visible");   
              console.log("Navbar : " + navbar.outerHeight() + "," +footer.outerHeight());
    var contentHeight = viewHeight - header.outerHeight() - navbar.outerHeight() - footer.outerHeight() - 40;
              console.log("New height: " + contentHeight);
    content.height(contentHeight);
} 
          
setTimeout(fixMapHeight(), 750);
          
          $(document).ready(function () {
              fixMapHeight();
             // init();
   });
      
      $(window).resize(function(){
         fixMapHeight();
      //    osMap.updateSize();
      });
      </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72477840-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
